= form_for @wish, html: { multipart: true }  do |f|
  - if @wish.errors.any?
    #errors.bg-warning
      %h2= t 'errors.template.header', model: t('activerecord.models.wish'), count: @wish.errors.count
      %ul
        - @wish.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control', autofocus: true

  .form-group
    = f.label :picture #, "#{img_f.object.new_record? ? 'Add' : 'Change'}"
    %br
    - unless f.object.new_record?
      = image_tag f.object.send(:picture).url(:thumb)
    = f.file_field :picture 

  .form-group
    = f.label :priority

    .bar-priority
      %select
        - (1..10).each do |val|
          %option{value: val}= val

    = f.number_field :priority, in: 1..10, class: 'form-control'

  .form-group  
    = f.label :price  
    .input-group
      = f.text_field :price, class: 'form-control'
      .input-group-addon= t('number.currency.format.unit')

  .checkbox
    = f.label :owned do
      = f.check_box :owned #, class: 'form-control'
      = t('activerecord.attributes.wish.owned')
  
  .checkbox
    = f.label :public do
      = f.check_box :public #, class: 'form-control'
      = t('activerecord.attributes.wish.public')

  .form-group
    = f.label :description
    = f.text_area :description, size: "60x12", class: 'form-control'

  .btn-group
    = link_to t('forms.buttons.cancel'), @wish.new_record? ? wishes_path : @wish, class: 'btn'
    = f.submit class: "btn btn-default"