.col-md-4
  %article.panel.panel-default.wish  
    .panel-heading      
      %h1.panel-title
        - unless wish.public?
          %span.glyphicon(aria-hidden="true" class="glyphicon-eye-close")    
        = link_to wish.title, wish 

    .panel-body
      = image_tag wish.picture.url(:thumb)
      %br
      = #link_to t('forms.buttons.owned'), wish_path(wish, wish: {owned: !wish.owned}), method: :patch, remote: true, class: 'owned'
      
      = # link_to t('forms.buttons.owned'), toggle_owned_wish_path(wish), method: :patch, remote: true, class: 'owned'
      %hr
      = link_to toggle_owned_wish_path(wish), method: :patch, remote: true, class: 'owned' do
        %span.glyphicon(aria-hidden="true" class="#{wish.owned? ? 'glyphicon-star-empty' : 'glyphicon-star'}")    
        = t('forms.buttons.owned')
      