%h1 Edit the wish

= form_for @wish do |f|
  - if @wish.errors.any?
    #errors
      %h2= pluralize @wish.errors.count, "error"
      %ul
        - @wish.errors.full_messages.each do |msg|
          %li= msg

  = f.label :title
  = f.text_field :title

  = f.label :priority
  = f.number_field :priority, in: 1..10

  = f.label :price
  = f.text_field :price

  = f.label :description
  = f.text_area :description, size: "60x12"

  = f.submit