%h1= @wish.title

%p= @wish.priority
%p= @wish.price

%p= @wish.description

%p
  = link_to t('forms.buttons.edit'), edit_wish_path(@wish)
  = link_to t('forms.buttons.delete'), wish_path(@wish), method: :delete, data: { confirm: t('forms.messages.confirm') } 

= link_to t('forms.buttons.back'), wishes_path