%article
  .btn-group.controls
    = link_to edit_wish_path(@wish), {class: "btn btn-default btn-xs"} do
      %span.glyphicon.glyphicon-pencil(aria-hidden="true")
      = t('forms.buttons.edit')
    = link_to @wish, method: :delete, data: { confirm: t('forms.messages.confirm') }, class: "btn btn-danger btn-xs" do
      %span.glyphicon.glyphicon-trash(aria-hidden="true")
      = t('forms.buttons.delete')    

  %h1= @wish.title
  %p= formatted_date @wish.created_at

  = image_tag @wish.picture.url(:medium)
  %p
    %span.glyphicon.glyphicon-heart(aria-hidden="true")
    = @wish.priority

  %p= number_to_currency @wish.price

  %hr
  %p= simple_markdown @wish.description

  .btn-group
    = link_to toggle_owned_wish_path(@wish), method: :patch, remote: true, class: 'owned btn btn-success' do
      %span.glyphicon(aria-hidden="true" class="#{@wish.owned? ? 'glyphicon-star-empty' : 'glyphicon-star'}")    
      = t('forms.buttons.owned')

    = link_to t('forms.buttons.back'), wishes_path, class: 'btn'