%article
  - if @wish.user == current_user
    .btn-group.controls
      = link_to edit_wish_path(@wish), {class: "btn btn-default btn-xs"} do
        %span.glyphicon.glyphicon-pencil(aria-hidden="true")
        = t('forms.buttons.edit')
      = link_to @wish, method: :delete, data: { confirm: t('forms.messages.confirm') }, class: "btn btn-danger btn-xs" do
        %span.glyphicon.glyphicon-trash(aria-hidden="true")
        = t('forms.buttons.delete')

  %h1= @wish.title
  %p= formatted_date @wish.created_at
  %p
    = image_tag avatar_url(@wish.user, :thumb), alt: @wish.user.display_name
    = @wish.user.display_name

  = image_tag @wish.picture.url(:medium)
  %p
    %span.glyphicon.glyphicon-heart(aria-hidden="true")
    = @wish.priority
    .bar-rating(data-score='#{@wish.priority}')

  %p= number_to_currency @wish.price
  #vk_like

  %hr
  %p= simple_markdown @wish.description

  - if @wish.user == current_user
    .btn-group
      = render partial: 'toggle_owned_btn', locals: { wish: @wish, css_class: 'owned btn btn-success' }
      = link_to toggle_public_wish_path(@wish), method: :patch, class: 'toggle-public btn' do
        %span.glyphicon(aria-hidden="true" class="#{@wish.public? ? 'glyphicon-eye-close' : 'glyphicon-eye-open'}")
        = t('forms.buttons.public')

    = link_to t('forms.buttons.back'), wishes_path, class: 'btn'

:javascript
  VK.Widgets.Like("vk_like", {type: "mini", height: 20});
