.avatar
  = image_tag current_user.avatar.url(:medium), alt: current_user.display_name
.wish-stats
  = link_to "#{t('menu.all_wishes')}: #{user.wishes.count}", all_wishes_path
  = link_to "#{t('menu.owned_wishes')}: #{user.wishes.owned.count}", owned_wishes_path

%p 
  = User.human_attribute_name :created_at
  \:
  = formatted_date user.created_at

%br