!!!
%html
  %head
    %title= t :title
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body 
    %nav.navbar.navbar-default      
      .container-fluid 
        .navbar-header          
          %button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target=".navbar-collapse")
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to t(:title).mb_chars.upcase, root_path, class: 'navbar-brand'

        %ul.nav.navbar-nav.navbar-collapse.collapse
          %li{ class: "#{'active' if all_wishes_page?}" }
            = link_to t('menu.all_wishes'), all_wishes_path 
          %li{ class: "#{'active' if owned_wishes_page?}" }
            = link_to owned_wishes_path do
              %span.glyphicon.glyphicon-star(aria-hidden="true")
              = t('menu.owned_wishes')

        %ul.nav.navbar-nav.navbar-right.navbar-collapse.collapse
          - if user_signed_in?
            %li
              = link_to edit_user_registration_path(current_user) do
                %span.glyphicon.glyphicon-user(aria-hidden="true")
                = current_user.display_name.capitalize

            %li= link_to t('menu.sign_out'), destroy_user_session_path, method: :delete 
          - else
            %li= link_to t('menu.sign_in'),  new_user_session_path, class: 'sign-in'
            %li= link_to t('menu.sign_up'),  new_user_registration_path, class: 'sign-up' 

          = link_to new_wish_path, class: 'btn btn-primary navbar-btn' do
            %span.glyphicon.glyphicon-plus(aria-hidden="true")
            = t('menu.new_wish')

    .container    
      .row
        .col-md-8.col-md-push-2
          = render 'shared/notice'
          = yield
    %footer